/* Unverisal Styles */

html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: helvetica; sans-serif;
}

h1, h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Company Header */

.company-title {
  background-color: black;
  color: white;
}

.company-title .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem .5rem
}

.company-title img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Hero Content */

.hero-content {
  background-image: url('../images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem
}

.new-arrival {
  background: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.new-arrival h1{
  font-family: helvetica;
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem 0 0 0;
}

/*  Shop Navigation */

nav {
  background-color: firebrick;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  list-style: none;
}

/* Shop & Contact Information */

.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: .5rem;
}

.information {
  width: 35%;
}

.information .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  height: 5rem;
  margin-top: 4rem;
  padding-top: 4rem;
  text-align: left;
}
